@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-gray-light: #f5f5f5;
  --color-gray-dark: #333333;
  --color-glass-bg: rgba(255, 255, 255, 0.2);
  --color-glass-border: rgba(255, 255, 255, 0.3);
  --color-beige: #f5f0e1; 
  --shadow-glass: 0 10px 25px rgba(0, 0, 0, 0.2);
  --shadow-glass-hover: 0 15px 35px rgba(0, 0, 0, 0.25);
}
